In [1]:
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect("salaries.db")
columns = ["File_Date",
           "SubAgency", 
           "Age_Range",
           "Education_Level",
           "Pay_Plan",
           "Grade",
           "LOS_Level",
           "Occupation",
           "PATCO",
           "Adjusted_Basic_Pay",
           "Supervisory_Status",
           "TOA",
           "Work_Schedule",
           "NSFTP_Indicator"]

In [3]:
pd.read_sql_query("""
SELECT 
    File_Date, 
    Occupation,
    AVG(Adjusted_Basic_Pay) AS Average_Salary
FROM 
    data 
GROUP BY
    File_Date, 
    Occupation
;""", conn)

      File_Date Occupation  Average_Salary
0        197309       0512    17625.546445
1        197309       1169    14960.371925
2        197309       1825    22933.340152
3        197309       1863    11555.353139
4        197309       2152    18238.713101
5        197312       0512    18209.805444
6        197312       1169    15635.160194
7        197312       1825    24119.018841
8        197312       1863    11728.762582
9        197312       2152    19266.824512
10       197403       0512    18148.163321
11       197403       1169    15601.916328
12       197403       1825    24004.632233
13       197403       1863    11811.474137
14       197403       2152    19149.566252
15       197406       0512    18198.749916
16       197406       1169    15463.627860
17       197406       1825    23924.101374
18       197406       1863    11867.745827
19       197406       2152    19033.768791
20       197409       0512    18359.767534
21       197409       1169    15325.223821
22       197409       1825    24060.862381
23       197409       1863    12389.512400
24       197409       2152    19150.719617
25       197412       0512    19348.970762
26       197412       1169    16198.234673
27       197412       1825    25459.064947
28       197412       1863    12673.906974
29       197412       2152    20197.645373
...         ...        ...             ...
982      201603       0512   103355.060512
983      201603       1169    84179.785575
984      201603       1825   113211.762150
985      201603       1863    44797.835731
986      201603       2152   124191.659710
987      201603       2154    60700.762887
988      201606       0512   103581.525530
989      201606       1169    84323.935098
990      201606       1825   113282.422186
991      201606       1863    44680.338616
992      201606       2152   124239.224621
993      201606       2154    61389.513089
994      201609       0512   102743.366442
995      201609       1169    83310.565617
996      201609       1825   113097.979055
997      201609       1863    44919.046880
998      201609       2152   123860.163066
999      201609       2154    61289.549223
1000     201612       0512   103062.478927
1001     201612       1169    82919.868406
1002     201612       1825   113066.551049
1003     201612       1863    44901.300122
1004     201612       2152   122907.283458
1005     201612       2154    61343.629630
1006     201703       0512   105786.324671
1007     201703       1169    85638.394571
1008     201703       1825   115989.698346
1009     201703       1863    45447.223668
1010     201703       2152   125136.372803
1011     201703       2154    63100.984211

[1012 rows x 3 columns]

In [4]:
conn.close()